* {
margin: 0;
padding: 0;
border: 0;
outline: none;
box-sizing: border-box;
background: transparent;
font-family: inherit;
}
a{
text-decoration: none;
}
a img {
border: none;
}

button,
a {
cursor: pointer;
color: inherit;
}

textarea {
resize: none;
}

button,
textarea,
select {
appearance: none !important;
border-radius: 0;
} 
/*end of css reset*/ 

body{
    width: 100%; /* mivel görgethető, ezért nincs height */
    margin: auto;
    background-color: #ffeedf;
    font-family: 'Space Grotesk', sans-serif;
}

header{
    position: relative;
    width: 100%;
    height: 60px;
}

header .headerTitle{
    position: absolute;
    color: #145434;
    font-size: 36px;
    transform: translate(7%, 15%);
}

#spanMenu{
    position: absolute;
    color: #145434;
    font-weight: 700;
    right: 1%;
    top: 23%;
    font-size: 36px;
}

#lineUnderHeader{
    border-top: 2px solid #145434; /* vonal a header alatt */
}

#flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center; /* ettől lettek középen a kártyák */
    align-items: center;     /* ettől lettek középen a kártyák */
    margin-top: 60px;        
    margin-bottom: 60px;         
    margin-left: auto;       /* ez is kell a középre helyezéshez */
    margin-right: auto;      /* ez is kell a középre helyezéshez */
    max-width: 1200px;
}

.beer{
    position: relative;
    background-color: #145434;
    width: 400px;
    height: 250px;
}

.beerTitleContainer{ 
    height: 40%; /* ettől lesz fix nagysága a title-nek és így a p tagek valamint a vonal ugyanott lesz mindig*/
    margin-left: 40px; 
    margin-right: 40px; 
}

.subAndTextContainer{
    margin-left: 40px; /* ezzel nem megy végig a vonal */
    margin-right: 40px;
    border-top: 1px solid #ffeedf; /*ez a vonal*/
}

.beerTitle{
    font-size: 36px;
    font-weight: 400;
    color: #ffeedf;
}

p{
    font-size: 18px;
    color: #ffeedf;
}

.sub{
    font-weight: 400;
    margin-top: 3%;
}

.text{
    font-weight: 700;
}

.number{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #145434;
    background-color: #ffeedf;
    transform: translate(-55%, -45%);
    font-size: 24px;
    font-weight: 700;
    color: #145434;
    text-align: center;  /* középen van a szám */
}

button{
    position: absolute;
    /* width: 200px; */
    width: 200px;
    height: 50px;
    font-size: 14px;
    font-weight: 700;
    color: #145434;
    background-color: #ffeedf;
    border: 2px solid #145434;
    transform: translate(104%, -83%);
}

button:hover{
    background-color: #145434;
    border: 3px solid #ffeedf;
    color: #ffeedf;
}

#spanArr{
    position: absolute;
    font-size: 36px;
    right: 2%;
    top: 10%;
    font-weight: 700;
}

@media screen and (max-width: 480px) {
    .beer{
        width: 83vw;
    }

    button{
        width: 42vw;
        transform: translate(102%, -83%);
    }
}